.start span{
	
	color: white;
	text-transform: uppercase;
	font-size: 1rem;
	line-height-top: 0.66rem;
	line-height-bottom: 0.66rem;
	font-family: Helvetica;
	margin-bottom: 10px;
	text-align: center;
}
.start img{
	height: 1.5rem;
	padding-right: 1rem;
	padding-left:0.5rem;
}
.start{
	background-color: black;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	width: 100%;
	height: 2.2rem;
	text-align: center;
	position: fixed;
	z-index: 1;
	overflow: hidden;
}
.banner{
	background-image: url(image/moto.jpeg);
	width: 100%;
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 25em;

	}
.moto{
	background: orange;
	width:20rem;
	height: 10rem;
	position: absolute;
	padding-top: 2rem;
	padding-right: 3rem;
	margin-top: 9rem;
	z-index: 2;

}
nav{
	margin-top: 4rem;
	overflow: hidden;
	background-color: firebrick;
	text-align: center;
}
ul #list{
	list-style: none;
	}
 li{
	display: inline-block;
	
}
a{
	text-align: center;
	color: white;
}
.flex-container{
	display:flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 960px;
	margin: 0 auto;
}
#item{
	display: flex;
	flex-direction: row;
	
}
.item {
	
	width: 30%;
	height: 13rem;
	line-height: 2rem;
	border:4px solid black;
	margin-top: 3rem;
	text-align: center;
	align-self: center;
		
}
.des{
	width: 30%;
	height: 2rem;
	text-align: center;
	background-color: black;
	color: white;
	border:4px solid black;
}
.description {
    display: block;
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.5em;
}
.location{
	margin-top: 3rem;
	width: 35%;
}
.location h3{
	padding-left: 3rem;
	background-color: black;
	color: white;
}
footer{
	height: 9rem;
	width: 100%;
	color:white;
	text-align: center;
	background: black;
	margin-top:4rem;
	padding-top: 4rem;
}